<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
    >
    <div class="rounded-t mb-0 px-4 py-3 border-0 d-none d-sm-block">
        <div class="flex flex-wrap items-center">
            <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                <h3 class="font-semibold text-lg" >
                    Card Tables
                </h3>
            </div>
        </div>
    </div>

    <div class="mt-5 mb-5"
        style="background-color: rgb(218, 218, 236); height: 600px; width: 40%; margin-left: 30%; border-radius: 10px; box-shadow: 2px 5px 90px -48px rgba(0,0,0,0.75);
        -webkit-box-shadow: 2px 5px 90px -48px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 5px 90px -48px rgba(0,0,0,0.75); /* Created with https://www.css-gradient.com */
background: rgba(223, 208, 77, 1.0);
background: -webkit-linear-gradient(top left, rgba(223, 208, 77, 1.0), rgba(29, 38, 18, 1.0));
background: -moz-linear-gradient(top left, rgba(223, 208, 77, 1.0), rgba(29, 38, 18, 1.0));
background: linear-gradient(to bottom right, rgba(223, 208, 77, 1.0), rgba(29, 38, 18, 1.0));">
        <!-- Projects table -->
        <h3 class="font-semibold text-lg mt-5" style="margin-left: 7%; font-size: 30px; color: white; font-weight: bold;">
            Document Upload
        </h3>
        <form enctype="multipart/form-data">
        <input type="file" name="" id="" class="ms-5 mt-5" (change)="onFileSelected($event)">
        <input type="text" name="" id="" style="width: 35%;" placeholder="Type..">
        <hr class="my-4 md:min-w-full" />
        <br>
        <button (click)="onUpload()" class="btn btn-primary ms-5" style="width: 85%; font-weight: bold;">Submit</button>
        <img src="assets/img/pattern_angular.png" alt="" srcset="" class="mt-5"  style="width: 280px; margin-left: 25%; ">
    </form>
    </div>
</div>