

<div class="row">
  <div style="background-color: rgb(237, 222, 222);box-shadow: 2px 5px 90px -66px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 5px 90px -66px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 5px 90px -66px rgba(0,0,0,0.75);height: 200px" class="mt-5">
    div 1
  </div>
  <div style="background-color: rgb(237, 222, 222);box-shadow: 2px 5px 90px -66px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 5px 90px -66px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 5px 90px -66px rgba(0,0,0,0.75);height: 200px" class="mt-5">
    div 2
  </div>
  <div style="background-color: rgb(237, 222, 222);box-shadow: 2px 5px 90px -66px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 5px 90px -66px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 5px 90px -66px rgb(0, 0, 0);height: 200px" class="mt-5">
    div 2
  </div>
</div>
